@font-face {
  font-family: "ClashGrotesk";
  src: url("./ClashGrotesk-Bold.otf"), url("./ClashGrotesk-Extralight.otf"),
    url("./ClashGrotesk-Light.otf"), url("./ClashGrotesk-Medium.otf"),
    url("./ClashGrotesk-Regular.otf"), url("./ClashGrotesk-Semibold.otf"),
    url("./ClashGrotesk-Variable.ttf");
}
body {
  font-family: "ClashGrotesk", sans-serif;
}
